div.cardholderMoveable {
    position: absolute;
    display: block;
    z-index: 0;
}

div.cardholderNonMoveable {
    position: fixed;
    display: block;
    z-index: 0;
}

div.hide {
    display: none;
}

div.backgroundContainer {
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: -2;
}
