:root{
    --cardWidth: 100px;
    --cardHeightFull: 200px;
}

div.cardholderMoveable {
    position: absolute;
    display: block;
    z-index: 0;
}

div.cardholderNonMoveable {
    position: fixed;
    display: block;
    z-index: 0;
}

div.hide {
    display: none;
}

div.backgroundContainer {
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: -2;
}

img.aceslot {
    width: var(--cardWidth);
    height: var(--cardHeightFull);
}

div.aceslot{
    top: 0px;
    position: fixed;
    z-index: -1;
}
